table {
  align-self: center;
  margin: auto;
  width: 100%;
  max-width: 1100px;
}

th.mat-header-cell:first-of-type {
  padding-left: 5px;
}

td.mat-cell:first-of-type {
  padding-left: 5px;
}

th.mat-header-cell {
  padding: 0 0 0 10px;
  background-color: #fff5e6;
  text-align: justify;
}

td.mat-cell {
  text-align: justify;
  padding-left: 15px;
}

mat-checkbox {
  padding-left: 10px;
}

.spinner {
  width: 50px;
  position: fixed;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
}

.mat-paginator.paginator--centered {
  display: flex;
  justify-content: center;
}

.x-rows {
  text-decoration-line: line-through;
}
