<div class="spinner" *ngIf="loading$ | async">
  <mat-spinner color="accent"></mat-spinner>
</div>

<mat-card>
  <mat-card-header>
    <mat-card-title class="title--centered"
      >Add New Item to Shopping List</mat-card-title
    >
  </mat-card-header>

  <h5 class="msg-saved" [ngStyle]="{ visibility: itemSaved }">
    Saved - enter next item
  </h5>
  <h5 class="msg-saved" [ngStyle]="{ visibility: itemSavedLocal }">
    Saved locally - enter next item
  </h5>

  <mat-card-content [formGroup]="form">
    <mat-form-field>
      <input
        matInput
        placeholder="Item description"
        formControlName="description"
        maxlength="30"
      />
    </mat-form-field>
    <div class="inline">
      <mat-form-field class="inline-two">
        <mat-select placeholder="Category" formControlName="category">
          <mat-option
            class="new-item__category"
            *ngFor="let item of categories"
            [value]="item"
            >{{ item }}</mat-option
          >
        </mat-select>
      </mat-form-field>
      <mat-form-field class="inline-two">
        <input
          type="text"
          matInput
          placeholder="Shop (enter or select)"
          formControlName="shopId"
          [matAutocomplete]="auto"
          maxlength="20"
        />
        <mat-autocomplete #auto="matAutocomplete" [displayWith]="filterShops()">
          <mat-option
            *ngFor="let option of filteredOptions$ | async"
            [value]="option"
          >
            {{ option }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="inline">
      <mat-form-field class="inline-two">
        <input
          matInput
          placeholder="Quantity"
          formControlName="quantity"
          maxlength="5"
        />
      </mat-form-field>

      <mat-form-field class="inline-two">
        <input
          matInput
          placeholder="Unit"
          formControlName="unit"
          maxlength="5"
        />
      </mat-form-field>
    </div>
    <mat-dialog-actions class="dialog-actions">
      <button
        class="mat-raised-button mat-primary"
        (click)="save()"
        [disabled]="!form.valid"
      >
        Save
      </button>
      <button class="mat-raised-button" (click)="form.reset()">Clear</button>
    </mat-dialog-actions>
    <!--
    <mat-form-field>
      <input type="text"  matInput placeholder="Shop" formControlName="shopId" [matAutocomplete]="auto" maxlength="20">
    </mat-form-field>

    <mat-autocomplete #auto="matAutocomplete">
      <mat-option *ngFor="let option of options" [value]="option">{{option}}</mat-option>
    </mat-autocomplete>
-->
  </mat-card-content>
</mat-card>
