
.mat-form-field {
  display: block;
}

.dialog-actions {
  display: flex;
  justify-content: center;
}

mat-card {
  align-self: center;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 60%;
}

.mat-error {
  font-size: 0.8rem;
}

.user-created-success {
  color: #4caf50;
}

.mat-card-header {
  display: flex;
  justify-content: center;
  margin: auto;
}

button {
  margin: 0 5px;
}

.spinner {
position: fixed;
z-index: 999;
height: 2em;
width: 2em;
overflow: show;
margin: 120px auto;
top: 0;
left: 0;
bottom: 0;
right: 0;
transform: translateX(-100%);
}

@media only screen and (max-width: 1080px) {
mat-card {
  width: inherit;
  font-size: 20px;
  }

  mat-card-content {
    font-size: 20px;
    }
}
